#filter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-btn {
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
  flex-basis: calc(33.3333% - 10px);
  margin: 5px;
}

.filter-btn-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.filter-btn-blue:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity))
}

.audio-btn {
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
  padding: 0.5rem 1rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.audio-btn:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity))
}

.label-text {
  margin-bottom: 0.5rem;
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

@media (prefers-color-scheme: dark) {
  .label-text {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
  }
}

.file-input {
  display: block;
  width: 100%;
  cursor: pointer;
  border-radius: 0.5rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.file-input:focus {
  outline: 2px solid transparent;
  outline-offset: 2px
}

@media (prefers-color-scheme: dark) {
  .file-input {
    --tw-border-opacity: 1;
    border-color: rgb(75 85 99 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity))
  }

  .file-input::-moz-placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(156 163 175 / var(--tw-placeholder-opacity))
  }

  .file-input::placeholder {
    --tw-placeholder-opacity: 1;
    color: rgb(156 163 175 / var(--tw-placeholder-opacity))
  }
}

.help-text {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

@media (prefers-color-scheme: dark) {
  .help-text {
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity))
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(235deg, #6ac496, #d6592d);
}

div.max-w-screen-lg {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h4 a:visited, h4 a:active, h4 a:focus {
  outline: none;
  color: inherit;
}

.loading-spinner {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 auto;
}

.orb {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #d6592d, #6ac496);
}

.orb::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: inherit;
  animation: pulse 2s ease-in-out infinite;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes pulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.5); }
}

#visualizerCanvas {
  transform: scaleX(2);
}
